<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boogle</title>
    <link rel="stylesheet" href="/static/css/portfolio/style_boogle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>

<div class="container">
    <img class="boogle" src="/static/img/portfolio/boogle/boogle_logo.jpeg">
    <div class="text heading">One account. All of Boogle.</div>
    <div class="text subheading">Sign in with your Boogle Account</div>
    <div class="square">
        <img class="profile" src="/static/img/portfolio/boogle/blank-profile-picture.png">
        <input class="email text" type="text" placeholder="Enter your email">
        <button class="btn text" type="button" onclick="alert('There is not spoon!')">Sign in</button>
    </div>
</div>


<div class="footer">
    <a class="link text"  href="#">About Boogle</a>
    <a class="link text" href="#">Privacy</a>
    <a class="link text" href="#">Terms</a>
    <a class="link text" href="#">Help</a>

</div>

</body>
</html>