* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #f1f1f1;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    width: 200px;
    display; flex;
    justify-content: space-around;
}


.container{
    display: flex;
    border: 10px solid black;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}

.square {
    height: 100px;
    width: 200px;
    background-color: red;
    padding-top: 30px;
    padding-left: 50px;
    box-sizing: border-box;
    margin: 20px;
}

.squarebox {
    background-color: red;
    border: 5px solid black;
    margin: 50px;
    /*width: 100px*/
    padding: 10px;
    height: 100px;
}

.containerbox{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}